.menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-center {
display: flex;
height: 103px;
align-items: flex-end;
padding-bottom: 26px;
}

.dynamic-button {
text-size-adjust: 18px;
text-align: start;
height: 103px;
border: none;
background-color: transparent; /* No background color */
color: white; /* Default text color */
padding: 0px 20px; /* Adjust padding for size */
padding-block-start: 35px;
margin: 0; /* Remove margin */
cursor: pointer;
transition: background-color 0.3s ease; /* Smooth transition */
}

.dynamic-button + .dynamic-button + .hire-me-button{
margin-left: 0px; /* Add space between buttons */
}

.dynamic-button:hover {
background-color: #6319CD; /* Color on hover */
color: white; /* Text color on hover */
}
.hire-me-button {
width: 106px;
height: 44px;
border: none;
border-radius: 7px;
display: center;
background-color: #6319CD; /* Button color */
color: white; /* Text color */
cursor: pointer;
margin-left: 35px; /* Space between the last dynamic button and this button */
transition: background-color 0.3s ease; /* Smooth transition */
}
.hire-me-button:hover {
background-color: #340874; /* Darker on hover */
}